<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * MageFlow Connector Magento extension configuration file
 *
 * PLEASE READ THIS SOFTWARE LICENSE AGREEMENT ("LICENSE") CAREFULLY
 * BEFORE USING THE SOFTWARE. BY USING THE SOFTWARE, YOU ARE AGREEING
 * TO BE BOUND BY THE TERMS OF THIS LICENSE.
 * IF YOU DO NOT AGREE TO THE TERMS OF THIS LICENSE, DO NOT USE THE SOFTWARE.
 *
 * Full text of this license is available @license
 *
 * @license    http://mageflow.com/licenses/mfx/eula.txt MageFlow EULA
 * @version    1.0
 * @author     MageFlow
 * @copyright  2014 MageFlow http://mageflow.com/
 *
 * @package    Mageflow
 * @subpackage Connect
 * @category   Mageflow
 */
-->
<config>
    <modules>
        <Mageflow_Connect>
            <version>0.7.9</version>
        </Mageflow_Connect>
    </modules>
    <global>
        <models>
            <mageflow_connect>
                <class>Mageflow_Connect_Model</class>
                <resourceModel>mageflow_connect_resource</resourceModel>
            </mageflow_connect>
            <mageflow_connect_resource>
                <class>Mageflow_Connect_Model_Resource</class>
                <entities>
                    <performance_history>
                        <table>mageflow_performance_history</table>
                    </performance_history>
                    <changeset_item>
                        <table>mageflow_changeset_item</table>
                    </changeset_item>
                </entities>
            </mageflow_connect_resource>
            <core_resource>
                <rewrite>
                    <config_data>Mageflow_Connect_Model_Resource_Config_Data</config_data>
                </rewrite>
            </core_resource>
        </models>
        <resources>
            <mageflow_connect_setup>
                <setup>
                    <module>Mageflow_Connect</module>
                    <class>Mageflow_Connect_Model_Resource_Setup</class>
                </setup>
            </mageflow_connect_setup>
        </resources>
        <helpers>
            <mageflow_connect>
                <class>Mageflow_Connect_Helper</class>
            </mageflow_connect>
        </helpers>
        <blocks>
            <mageflow_connect>
                <class>Mageflow_Connect_Block</class>
            </mageflow_connect>
            <adminhtml>
                <rewrite>
                    <widget_button>Mageflow_Connect_Block_Adminhtml_Widget_Button</widget_button>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <controller_front_send_response_after>
                <observers>
                    <collect_memory_usage>
                        <class>mageflow_connect/observer</class>
                        <method>collectMemoryUsage</method>
                    </collect_memory_usage>
                </observers>
            </controller_front_send_response_after>
            <model_save_commit_after>
                <observers>
                    <save_changeset_item>
                        <class>mageflow_connect/observer</class>
                        <method>saveChangesetItem</method>
                    </save_changeset_item>
                </observers>
            </model_save_commit_after>
            <model_save_before>
                <observers>
                    <add_mf_data>
                        <class>mageflow_connect/observer</class>
                        <method>onBeforeSave</method>
                    </add_mf_data>
                </observers>
            </model_save_before>
            <model_config_data_save_before>
                <observers>
                    <add_mf_data>
                        <class>mageflow_connect/observer</class>
                        <method>onBeforeSave</method>
                    </add_mf_data>
                </observers>
            </model_config_data_save_before>
            <controller_action_predispatch>
                <observers>
                    <maintenance_mode>
                        <class>mageflow_connect/observer</class>
                        <method>activateMaintenanceMode</method>
                    </maintenance_mode>
                </observers>
            </controller_action_predispatch>
        </events>
        <api2>
            <response>
                <renders>
                    <!-- HTML -->
                    <text_html>
                        <type>text/html</type>
                        <model>mageflow_connect/api2_renderer_html</model>
                    </text_html>
                </renders>
            </response>
        </api2>
    </global>

    <admin>
        <routers>
            <mageflow_connect>
                <use>admin</use>
                <args>
                    <module>Mageflow_Connect</module>
                    <frontName>mageflow_connect</frontName>
                </args>
            </mageflow_connect>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mageflow_connect>
                    <file>mageflow/connect.xml</file>
                </mageflow_connect>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mageflow_connect>
                    <file>mageflow/connect.xml</file>
                </mageflow_connect>
            </updates>
        </layout>
    </frontend>
    <default>
        <mageflow_connect>
            <advanced>
                <log_enabled>1</log_enabled>
                <api_url>https://app.mageflow.com/api/1.0/</api_url>
                <log_lines>100</log_lines>
                <log_level>7</log_level>
            </advanced>
            <system>
                <maintenance_mode>0</maintenance_mode>
            </system>
            <supported_types>
                <cms_block>
                    <type>Mage_Cms_Model_Block</type>
                    <short>cms/block</short>
                </cms_block>
                <cms_page>
                    <type>Mage_Cms_Model_Page</type>
                    <short>cms/page</short>
                </cms_page>
                <core_config_data>
                    <type>Mage_Core_Model_Config_Data</type>
                    <short>system/configuration</short>
                </core_config_data>
                <catalog_category_entity>
                    <type>Mage_Catalog_Model_Category</type>
                    <short>catalog/category</short>
                </catalog_category_entity>
                <eav_attribute>
                    <type>Mage_Catalog_Model_Resource_Eav_Attribute</type>
                    <short>catalog/attribute</short>
                </eav_attribute>
                <eav_attribute_set>
                    <type>Mage_Eav_Model_Entity_Attribute_Set</type>
                    <short>catalog/attribute_set</short>
                </eav_attribute_set>
                <admin_user>
                    <type>Mage_Admin_Model_User</type>
                    <short>admin/user</short>
                </admin_user>
                <core_website>
                    <type>Mage_Core_Model_Website</type>
                    <short>core/website</short>
                </core_website>
                <core_store>
                    <type>Mage_Core_Model_Store</type>
                    <short>core/store</short>
                </core_store>
                <core_store_group>
                    <type>Mage_Core_Model_Store_Group</type>
                    <short>core/store_group</short>
                </core_store_group>
                <base_url>
                    <type>Mage_XmlConnect_Model_Adminhtml_System_Config_Backend_Baseurl</type>
                    <short>base_url</short>
                </base_url>
                <oauth_consumer/>
                <eav_attribute_group/>
                <eav_attribute_option/>
                <eav_attribute_option_value/>
                <eav_attribute_label/>
            </supported_types>
        </mageflow_connect>
        <!--
            <web>
                <routers>
                    <standard>
                        <area>frontend</area>
                        <class>Mageflow_Connect_Controllers_Router</class>
                    </standard>
                </routers>
            </web>
        -->
    </default>
    <!--
    <stores>
        <default>
            <web>
                <routers>
                    <standard>
                        <area>frontend</area>
                        <class>Mageflow_Connect_Controllers_Router</class>
                    </standard>
                </routers>
            </web>
        </default>
    </stores>
    -->
</config>
